body {
  background-color: rgb(220, 220, 190);
}
button {
  position: relative;
  width: 3.5em;
  margin: 2em;
  padding: 3px;
  background: rgb(230, 230, 210);
  font-size: .8em;
  letter-spacing: .04em;
  color: rgba(24, 45, 88, .4);
  text-shadow: 0 1px 0 rgba(134, 145, 188, .6);
  border-radius: 3px;
  border: 1px solid rgba(154, 145, 188, .8);
}
button:active {
  transform: scale(.925);
}
.hldr {
  margin-left: 3em;
}
p {
  position: relative;
  margin: 3px 0;
  width: 10em;
  box-sizing: border-box;
  padding: .35em 2.2em;
  color: rgb(175, 130, 120);
  background-color: rgba(200, 176, 215, .2);
  border-radius: 4px;
  border: 1px solid rgba(65, 122, 170, .2);
}
